.contact__title {
    font-size: 44px;
    color: var(--gray);
    font-weight: 700;
    padding: 8px 0;
}

.contact-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 50px;
    min-width: 300px;
}

.contact-form button {
    align-self: flex-end;
    background-color: var(--blue);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
    width: 200px;
}

.contact-form button:hover {
    filter: brightness(1.1);
}

.contact__container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    padding: 20px 0;
}

.contact-form button:disabled {
    background-color: var(--gray);
}

.contact-form button:disabled:hover {
    filter: none;
}