.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container i {
    font-size: 200px;
}

.container h2 {
    font-size: 44px;
}